:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body,#root{
width: 100%;
height: 100%;
}
html{
  background-color: #212121;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
}
.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  min-width: 10rem;
  max-width: 30rem;
  color: aliceblue;
}