@import "tailwindcss";


.messages::-webkit-scrollbar-thumb {
  background:black;
  border-radius: 9999px;
  height: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a7a6a6 #3B3B3F;
}